{% extends 'base.html' %}
{% load static %}
{% csrf_token %}

{% block content %}
<div class="card-body py-5 mt-5">
    <div class="row justify-content-center">
        <form method="post" class="mx-1 mx-md-4">{% csrf_token %}
        <h1>Are you sure?</h1>
            <div class="d-flex justify-content-center mx-4 mb-4">
                <input type="submit" class="btn" value="Confirm">
                <button class="btn mx-4" type="button"><a href="{% url 'requests:list' %}" style="text-decoration: none; color: black">No</a></button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}