{% load static %}
{% csrf_token %}

<header>
  {% if user.is_authenticated %}
  <nav class="navbar navbar-expand-sm navbar-dark"
        style="background-color: #3B71CA">
    <div class="collapse navbar-collapse">
      <span style="color: #FBFBFB">{{ user.username }}</span>
      <ul class="navbar-nav mr-auto ml-5">
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'tickets:create_tickets' %}">New Request</a>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link" href="{% url 'tickets:my_tickets' %}">My Requests</a>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link" href="{% url 'tickets:pending_tickets' %}">Pending Requests</a>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link" href="{% url 'tickets:all_tickets' %}">All Requests</a>
        </li>
        {% if user.is_superuser %}
        <li class="nav-item ml-3">
          <a class="nav-link" href="{% url 'users:all_users' %}">Users</a>
        </li>
        {% endif %}
      </ul>
      <a class="nav-link " style="color: #FBFBFB" href="{% url 'users:logout_users' %}">
        Logout
      </a>
    </div>
    {% endif %}
  </nav>
</header>